.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(17, 36, 75);
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-family: Karla;
  color: #FFFFFF;
  font-size: 0.85rem;
  font-weight: 600;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.name {
  display: flex;
  font-family: Tilt Warp;
  font-size: 15px;
  padding: 0.5rem;
  color: aliceblue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem 0;
}

.center::before {
  background: var(--secondary-glow);
  justify-content: center;
  border-radius: 50%;
  width: 380px;
  height: 260px;
}

.center::before,
.center::after {
  content: '';
  position: absolute;
  filter: blur(150px);
  transform: translateZ(0);
}

.logo {
  width: 300px;
  height: auto;
  z-index: 2;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin-top: 3rem;
  gap: 2rem;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: #000000;
  background-color: #FFFFFF;
  opacity: 0.8;
  border-radius: 30px;
}

.day {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Tilt Warp;
  font-size: 30px;
  margin-bottom: 20px;
}

.month {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Karla;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: image 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes image {
  0% {transform: translatey(0px);}
  50% {transform: translatey(10px);}
  100% {transform: translatey(0px);}
}

.temp {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Karla;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.type {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Tilt Warp;
  font-size: 24px;
}

/* Desktop */
@media (min-width: 1000px) {
  .weather {
    width: 30%;
  }
}